.navbar.navbar-inverse.navbar-bottom.text-center
    .container-fluid
        span Like this site?  Want your own?  Clone it on GitHub:&nbsp;
        a.fa.fa-github-square(href="https://github.com/onijim/onimage-site", target="_blank")