body
    nav.navbar.navbar-inverse.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href="/") B is for Bryan
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Images
                    li
                        a(href="#") Upload
