nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") B is for Bryan
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#onimage-nav")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .collapse.navbar-collapse#onimage-nav
            ul.nav.navbar-nav
                li.active
                    a(href="#top") Upload
                li
                    a(href="#img-container") Images
            form.navbar-form.navbar-right.search-form
                i.glyphicon.glyphicon-search
                input(type="search", class="form-control", placeholder="Search", ng-model="search")