div.row
    div.col-sm-2
        a(href="#").thumbnail
            img.img-responsive(src="http://placehold.it/320x200", alt="...")
    div.col-sm-2
        a(href="#").thumbnail
            img.img-responsive(src="http://placehold.it/320x200", alt="...")
    div.col-sm-2
        a(href="#").thumbnail
            img.img-responsive(src="http://placehold.it/320x200", alt="...")
    div.col-sm-2
        a(href="#").thumbnail
            img.img-responsive(src="http://placehold.it/320x200", alt="...")
    div.col-sm-2
        a(href="#").thumbnail
            img.img-responsive(src="http://placehold.it/320x200", alt="...")
    div.col-sm-2
        a(href="#").thumbnail
            img.img-responsive(src="http://placehold.it/320x200", alt="...")